@use "./_variables.scss" as *;

#footer {
    background-color: $bgfooterdark;
    padding: 1rem;

    a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
    }

    a:hover {
        text-decoration: underline;
    }
}